
.apps-terminal-box{
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-monospace);
    font-size: 0.9em;
    padding: 1em;
    border-radius: 0.5em;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.apps-terminal-result{ margin-bottom: 1em; }

.apps-terminal-input-outer{ white-space: nowrap; }
.apps-terminal-input{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1em;
    font-family: var(--font-monospace);
    padding: 0;
    outline: none;
    width: 100%;
}