
.app-frames-grid{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content auto;
    gap: 1em;
    width: 100%;
    height: 100%;
}

.app-frames-url{ width: calc(100% - 2em); }

.app-frames-iframe-box{ grid-column: 1 / 3; }
.app-frames-iframe{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
    border-radius: 0.5em;
    border: 2px solid rgba(255, 255, 255, 0.1);
}