/*
    Acrylic is (c) Anpang 2024 - 2025
    https://github.com/acrylic-os/core
*/


/* #region ━ VARIABLES */

:root{

    /* colors */
    --gray: rgba(128, 128, 128, 0.5);
    --darkgray: rgba(64, 64, 64, 0.5);
    --link: #c4edff;
    --link-hover: #e3f7ff;
    
}

/* #endregion */


/* #region ━ BODY/LAYOUT */

body{
    margin: 0;
    background-color: #000;
    color: #fff;
    user-select: none;
    overflow: hidden;
    scrollbar-width: thin;
}
.screen{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

/* #endregion */


/* #region ━ ELEMENTS */

/* #region ─ actual elements */

/* sections */
.section, section{ margin-bottom: 1em; }
.centered{ text-align: center; }

/* links */
a{
    color: var(--link);
    text-decoration: none;
}
a:hover{ color: var(--link-hover); }

/* horizontal lines */
hr{
    margin: 2em 0;
    border: 0.1em solid var(--gray);
}

/* <label> tags (invisible) */
label{ display: none; }

/* #endregion */

/* #region ─ text formatting */

/* code */
code, pre{
    font-size: 0.9em;
}

/* subtitles */
.subtitle{
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    margin-top: 0.5em;
}

/* #endregion */

/* #region ─ buttons/inputs */

/* common rectangle design */
button, select, .textbox, input[type=text], input[type=datetime-local], input[type=date], input[type=time], input[type=file]{
    background-color: var(--gray);
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

/* checkboxes, radio buttons, and sliders */
input[type=checkbox], input[type=radio], input[type=range]{
    cursor: pointer;
}

/* color selectors */
input[type=color] {
    width: 2.25em;
    height: 2.25em;
    border: none;
    cursor: pointer;
    background-color: var(--gray);
}

/* classes */
button.bflat, input.bflat{ padding: 0.25em 1em; }
button.bfull, input.bfull{ padding: 0.5em 1em; }
.disabled{
    pointer-events: none;
    cursor: not-allowed;
}

/* button groups */
.button-group{ margin: 2px; }
.button-group > button{ margin: 0; }

.button-group.horizontal{
    white-space: nowrap;
    display: flex;    /* else there'll be spaces between the buttons */
}
.button-group.vertical > button{ width: 100%; }

/* #endregion */

/* #endregion */


/* #region ━ VERSION INDICATOR */

#version{
    position: absolute;
    left: 2em;
    filter: opacity(0.5);
    z-index: 10;
}
.version-boot{ top: 2em; }
.version-desktop{ top: 4em; }

/* #endregion */


/* #region ━ BOOTSCREEN */

#bootscreen{ cursor: none; }
#bootscreen-title{
    position: absolute;
    top: calc(50% - 0.75em);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
}
#bootscreen-text{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

/* #endregion */


/* #region ━ LOGIN/SETUP SCREENS */

#loginscreen, #setupscreen{ background-size: cover; }
#loginbox, #setupscreen-box{
    background-color: var(--gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
}
#loginbox-newcomer, #loginbox-user{ display: none; }

#setupscreen-box > div{ display: none; }

#setup-3-wallpapers{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#setup-3-wallpapers > button {
    padding: 1em;
}
:where(#setup-3-wallpapers > button > img) {
    width: 16em;
    height: 9em;
    border-radius: 0.5em;
}

/* #endregion */


/* #region ━ DESKTOP */

/* #region ─ wallpaper, show/hide */

#desktop{
    background-size: cover;
    pointer-events: none;
}
.desktop-only{
    display: none;
    pointer-events: auto;
}

.darken-wallpaper{
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: darken;
}

/* #endregion */

/* #region ─ topbar */

#topbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2em;
    z-index: 6;
}
#topbar.topbar-solid{ background-color: var(--darkgray); }
#topbar.topbar-gradient{ background: linear-gradient(180deg, var(--darkgray) 0%, var(--darkgray) 25%, transparent) }

#topbar-left{ float: left; }
.optionbutton{
    background-color: var(--gray);
    border: none;
}

#topbar-center{
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    display: inline-block;
    left: 50vw;
}
#searchbar{
    margin-top: 0.1em;
    text-align: center;
    min-width: 24em;
}

#searchmenu{
    display: none;
    background-color: var(--gray);
    z-index: 41;
    height: 15em;
    overflow-y: auto;
    overflow-x: hidden;
}
.searchentry{
    width: 100%;
    display: grid;
    grid-template-columns: 4em auto auto 2em;
    grid-template-rows: auto auto;
    padding: 0.5em;
}
.searchentry-icon{
    grid-row: 1 / 3;
    width: 3em;
}
.searchentry-name{
    grid-column: 2 / 4;
    font-weight: bold;
    margin-top: 0.25em;
}
.searchentry-type, .searchentry-match{
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.75em;
}
.searchentry-type{
    text-align: right;
    margin-right: 0.5em;
}
.searchentry-match{
    text-align: left;
    margin-left: 0.51em;
}
.searchentry-offset{
    grid-column: 4;
    grid-row: 1 / 3;
}

#topbar-right{ float: right; }
#timebar{ font-variant-numeric: tabular-nums; }


/* #endregion */

/* #region ─ dock */

#dock{
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--darkgray);
    min-width: 25%;
    z-index: 7;
}
#dock-apps{
    display: inline-block;
    vertical-align: super;
}

#start-button{
    background-image: url("../iconol/start.svg");
    background-size: contain;
    margin-right: 2em;
    display: inline-block;
    height: 4em;
    width: 4em;
    z-index: 43;
}
.dock-app{
    background-size: contain;
    margin-right: 1em;
    display: inline-block;
    height: 3em;
    width: 3em;
}

/* #endregion */

/* #region ─ start menu */

#startmenu{
    display: none;
    position: absolute;
    bottom: 6em;
    background-color: var(--gray);
    grid-template-columns: auto auto;
    z-index: 40;
}
#startmenu-name{ font-weight: bold; }
.startmenu-category{
    display: block;
    width: 100%;
}

#startmenu-apps{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);    /* still only supports 4 rows */
    width: 25em;
    height: 25em;
}
.startmenu-app-tile{
    background-color: var(--gray);
    width: 5em;
    height: 5em;
    color: #fff;
}
.startmenu-app-tile-icon{ width: 3.45em; }

#startmenu-power{
    grid-column: 1 / 3;
    text-align: right;
}

/* #endregion */

/* #region ─ blue rectangle */

#desktop-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}
#bluerectangle{
    display: none;
    position: absolute;
    background-color: var(--gray);
    z-index: 15;
}

/* #endregion */

/* #region ─ windowing */

#windows {
    display: block;
    pointer-events: none;
}
.window{
    position: absolute;
    resize: both;
    overflow: hidden;
    display: none;
    flex-flow: column;
    pointer-events: auto;
    z-index: 20;
}

.titlebar{
    background-color: var(--darkgray);
    cursor: move;
    flex: 0 1 auto;
}
.titlebar-icon{
    width: 1.5em;
    float: left;
    margin: 0.1em 0.5em 0 0;
}
.titlebar-text{
    margin-top: 0.25em;
    display: block;
    float: left;
}
.titlebar-buttons{
    float: right;
    margin-left: 1em;
}
.titlebar-buttons > a{
    width: 1.65em;
    height: 1.65em;
    background-size: 1.65em;
    display: inline-block;
    filter: opacity(0.85);
}
.titlebar-button-minimize{ background-image: url("../iconol/button_minimize.svg"); }
.titlebar-button-toggle{ background-image: url("../iconol/button_maximize.svg"); }
.titlebar-button-close{ background-image: url("../iconol/button_close.svg"); }

.window-content{
    background-color: var(--gray);
    flex: 1 1 auto;
    overflow: auto;
}

.maximized{
    top: 2em;
    left: 0;
    width: 100vw;
    height: calc(100vh - 2em);
}

.selected{ z-index: 30; }
.window:not(.selected) { filter: opacity(0.75); }

.error-pre{ white-space: pre-wrap; }

/* #endregion */

/* #region ─ popups */

.popup-grid{
    display: grid;
    grid-template-columns: max(5em, 20%) auto;
    grid-template-rows: auto 3em;
    text-align: center;
    height: 100%;
}
.popup-grid-icon, .popup-grid-content{ position: relative; }
.popup-icon, .popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-icon{ width: 4em; }
.popup-content{ width: 100%; }
.popup-grid-buttons{ grid-column: 1 / 3; }

/* #endregion */

/* #region ─ click confetti */

#click-confetti{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 200;
}
.confetti{
    position: absolute;
}

/* #endregion */

/* #region ─ context menu */

#contextmenu{
    display: none;
    position: fixed;
    z-index: 220;
    background-color: var(--gray);
    width: min-content;
}

#contextmenu > button{
    margin: 0;
    width: 100%;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
#contextmenu > button + button{ border-top: none; }

#contextmenu > hr{
    border: none;
}

#contextmenu > div{
    white-space: nowrap;
    margin-right: 0.75em;
}

#contextmenu input[type=checkbox] {
    outline: none;
}

/* #endregion */

/* #endregion */


/* #region ━ OVERLAYS */

/* #region ─ quit screen */

#quitscreen{
    background-color: var(--darkgray);
    z-index: 90;
}
.quit-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25em;
    display: none;
    color: #fff;
}
#quit-areyousure{ text-align: center; }
.quit-button{ font-size: 1rem; }

/* #endregion */

/* #region ─ fullscreen */

#fullscreen{
    background-color: var(--darkgray);
    z-index: 300;
}
#fullscreen-text{
    background-color: var(--darkgray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 3em));
    font-size: 1.25em;
    text-align: center;
}
#fullscreen-cancel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 5em));
}

/* #endregion */

/* #endregion */

