

/* grid */

.app-files-grid{
    display: grid;
    grid-template-columns: 7.5em auto;
    grid-template-rows: 2em auto;
    gap: 1em;
}


/* left */

.app-files-navigation > button{ padding: 0.25em 0.7em; }

.app-files-left{ grid-row: 2 / 4; }
.app-files-locations-group{ margin-bottom: 0.75em; }


/* top */

.app-files-path > button{ padding: 0.25em 0.5em; }


/* main */

.app-files-table{ width: 100%; }
.app-files-filerow{ cursor: pointer; }
.app-files-filerow:hover{
    background-color: rgba(255, 255, 255, 0.05);
}